<div class="jumbotron">
  <h1 class="title">Winner</h1>
  <p class="slogan">
    Provide a suitable job for you
  </p>
  <p class="lead"><a class="btn btn-lg btn-button" href="/jobs">Apply Now</a></p>
</div>


<!-- section -->





<!-- Contact -->
<div class="container">
  <h3 class="text-center">联系我们</h3>
  <br>
  <div class="row test">
    <div class="col-md-4">
      <p><span class="glyphicon glyphicon-map-marker"></span>深圳, 中国</p>
      <p><span class="glyphicon glyphicon-phone"></span>Phone:  00 111111111</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: liwuzhao97@gmail.com</p>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <div class="row">
        <br>
        <div class="col-md-12 form-group">
          <button class="btn btn-primary pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
