<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">Winner</h1>
      <p class="slogan">
        Hope u can find your dream here
        <br>
        To be Winner
      </p>
      <p class="lead">
        <%= link_to 'Apply Now', jobs_path, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
</div>
