/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";


  a:link {
    text-decoration: none;
  }




// -------------Navbar-------------
 /* Add a gray color to all navbar links */

 .navbar-default {
     margin-bottom: 0;
     border-radius: 0;
 }

 .navbar li a, .navbar .navbar-brand {
     color: #d5d5d5 !important;
 }
 /* On hover, the dropdown links will turn red */
 .dropdown-menu li a:hover {
     background-color: grey !important;
 }

 /* Dropdown links */
 .dropdown-menu li a {
     color: #000 !important;
 }






  //---------Box---------

 .box {
     background-image: url("header1.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     margin-bottom: 50px;

     .box-inner {
         background-color: rgba(250, 250, 250, 0.69);
         padding-bottom: 5px;
         margin-top: 150px;
         margin-bottom: 150px;
     }

     .title {
         text-align: center;
         margin-bottom: 80px;
     }

     .slogan {
         color: #222;
         margin-top: 10px;
         margin-bottom: 50px;
         text-align: center;
         font-size: 25px;
         top: 12px;
     }

     .lead {
         margin-bottom: 60px;
         text-align: center;
         color: white;
     }
 }



// -------- myself ---------
.list_at_jobs-list{
  border: 1px solid #ccc;
  margin: 3% 0;
  padding: 5px;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.list{
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}

.list:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}

.font {
  font-family:Tahoma;
  font-size: 20px;
  color: gray;
}

//---------Footer---------

footer {
    color: white;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
}
